{% extends 'userNav.html' %}
{% block main %}
{% load static %}
<div class="container mt-5">
    <div class="row">
        <div class="col-sm-6 ">
         <img src="{% static 'image/note.jpg' %}" alt="Image can't load" style="width:100%;">
        </div>
        <div class="col-sm-6">
            <h2>Change Password</h2>
            <hr>
            <br>
            <br>
            <form method="POST">
                {% csrf_token %}
                <label class="font-weight-bold">Enter Your Old Password</label>
                <input type="password" name="oldp" class="form-control" placeholder="Enter your old password">
                <label class="font-weight-bold"> Enter Your New Password </label>
                <input type="password" name="newp" class="form-control" placeholder="Enter your password new password">
                <label class="font-weight-bold" >Re Enter your password</label>
                <input type="password" name="conp" class="form-control" placeholder="Enter your password again">
                 <br>
                <button type="submit" class="btn btn-primary text-center">Save</button>
            </form>
        </div>
    </div>

</div>
{% ifequal error "no" %}
<script>
    alert("Password Changed successfully");
    window.location = ('{% url "logout" %}')
</script>
{% endifequal %}
{% ifequal error "yes" %}
<script>
    alert("Sorry!! something went wrong, Try Again");
</script>
{% endifequal %}
{% endblock %}